.full-width
    .filter-block.filters.clearfix
        .width50.filter-wrapper.clearfix
            h1 Гениариум
            .filter
                label.filter-genre жанр
                select#filter-genre
                    option все
                    option рисунок
                    option лепка
                    option апликация
                    option поделка
                    option фотография
                    option скрапбукинг
            .filter
                label.filter-age возраст
                select#filter-age
                    option все
                    option 4-7 лет
                    option 8-12 лет
                    option старше 12 лет
                    option взрослые
            .filter
                label.filter-theme-search тема
                input#filter-theme-search(type="text" placeholder="Поиск")
                span
            .filter
                label.filter-gifts все призы
                select#filter-gifts
                    option IPhone 6S
                    option Meizu M3 Note
                    option Xiaomi Redmi 3
                    option Samsung Galaxy
        .width50
            .border_1-wrapper
                img#border_1.border_1(src="images/border/border_1.png")
                .fishnet
    #fish_1_wrapper.fish_1_wrapper
        #fish_1-viewport.fish-viewport
            img#fish_1.fish_1(src="images/fish/fish_1.png")