.full-width
    #fish_block_3_1_wrapper.fish_block_3_1_wrapper
        #fish_block_3_1-viewport.fish-viewport
            img#fish_block_3_1.fishes(src="images/content/block_3/fish/fish_block_3_1.png")
    #fish_block_3_2_wrapper.fish_block_3_2_wrapper
        #fish_block_3_2-viewport.fish-viewport
            img#fish_block_3_2.fishes(src="images/content/block_3/fish/fish_block_3_2.png")
    #fish_block_3_3_wrapper.fish_block_3_3_wrapper
        #fish_block_3_3-viewport.fish-viewport
            img#fish_block_3_3.fishes(src="images/content/block_3/fish/fish_block_3_3.png")
    #block_3.gallery-block
        a.colorbox(href="images/content/block_3/1.png")
            img.grid_3_img-1(src="images/content/block_3/1_icon.png")
        a.colorbox(href="images/content/block_3/2.png")
            img.grid_3_img-2(src="images/content/block_3/2_icon.png")
        a.colorbox(href="images/content/block_3/3.png")
            img.grid_3_img-3(src="images/content/block_3/3_icon.png")
        a.colorbox(href="images/content/block_3/4.png")
            img.grid_3_img-4(src="images/content/block_3/4_icon.png")
        a.colorbox(href="images/content/block_3/5.png")
            img.grid_3_img-5(src="images/content/block_3/5_icon.png")
        #block_3_border_1.block_3_border_1
        a.colorbox(href="images/content/block_3/6.png")
            img.grid_3_img-6(src="images/content/block_3/6_icon.png")
        a.colorbox(href="images/content/block_3/7.png")
            img.grid_3_img-7(src="images/content/block_3/7_icon.png")
        #block_3_border_2.block_3_border_2
        a.colorbox(href="images/content/block_3/8.png")
            img.grid_3_img-8(src="images/content/block_3/8_icon.png")
        a.colorbox(href="images/content/block_3/9.png")
            img.grid_3_img-9(src="images/content/block_3/9_icon.png")
        a.colorbox(href="images/content/block_3/10.png")
            img.grid_3_img-10(src="images/content/block_3/10_icon.png")
        a.colorbox(href="images/content/block_3/11.png")
            img.grid_3_img-11(src="images/content/block_3/11_icon.png")
        a.colorbox(href="images/content/block_3/12.png")
            img.grid_3_img-12(src="images/content/block_3/12_icon.png")
        a.colorbox(href="images/content/block_3/13.png")
            img.grid_3_img-13(src="images/content/block_3/13_icon.png")
        a.colorbox(href="images/content/block_3/14.png")
            img.grid_3_img-14(src="images/content/block_3/14_icon.png")
        a.colorbox(href="images/content/block_3/15.png")
            img.grid_3_img-15(src="images/content/block_3/15_icon.png")
        a.colorbox(href="images/content/block_3/16.png")
            img.grid_3_img-16(src="images/content/block_3/16_icon.png")
        a.colorbox(href="images/content/block_3/17.png")
            img.grid_3_img-17(src="images/content/block_3/17_icon.png")
        a.colorbox(href="images/content/block_3/18.png")
            img.grid_3_img-18(src="images/content/block_3/18_icon.png")
        a.colorbox(href="images/content/block_3/19.png")
            img.grid_3_img-19(src="images/content/block_3/19_icon.png")
        a.colorbox(href="images/content/block_3/20.png")
            img.grid_3_img-20(src="images/content/block_3/20_icon.png")
        a.colorbox(href="images/content/block_3/21.png")
            img.grid_3_img-21(src="images/content/block_3/21_icon.png")
        a.colorbox(href="images/content/block_3/22.png")
            img.grid_3_img-22(src="images/content/block_3/22_icon.png")
        a.colorbox(href="images/content/block_3/23.png")
            img.grid_3_img-23(src="images/content/block_3/23_icon.png")
        #block_3_border_3.block_3_border_3
        a.colorbox(href="images/content/block_3/24.png")
            img.grid_3_img-24(src="images/content/block_3/24_icon.png")
