.full-width
    #fish_block_4_1_wrapper.fish_block_4_1_wrapper
        #fish_block_4_1-viewport.fish-viewport
            img#fish_block_4_1.fishes(src="images/content/block_4/fish/fish_block_4_1.png")
    #fish_block_4_2_wrapper.fish_block_4_2_wrapper
        #fish_block_4_2-viewport.fish-viewport
            img#fish_block_4_2.fishes(src="images/content/block_4/fish/fish_block_4_2.png")
    #block_4.gallery-block
        a.colorbox(href="images/content/block_4/1.png")
            img.grid_4_img-1(src="images/content/block_4/1_icon.png")
        a.colorbox(href="images/content/block_4/2.png")
            img.grid_4_img-2(src="images/content/block_4/2_icon.png")
        a.colorbox(href="images/content/block_4/3.png")
            img.grid_4_img-3(src="images/content/block_4/3_icon.png")
        a.colorbox(href="images/content/block_4/4.png")
            img.grid_4_img-4(src="images/content/block_4/4_icon.png")
        a.colorbox(href="images/content/block_4/5.png")
            img.grid_4_img-5(src="images/content/block_4/5_icon.png")
        #block_4_border_1.block_4_border_1
        a.colorbox(href="images/content/block_4/6.png")
            img.grid_4_img-6(src="images/content/block_4/6_icon.png")
        a.colorbox(href="images/content/block_4/7.png")
            img.grid_4_img-7(src="images/content/block_4/7_icon.png")
        a.colorbox(href="images/content/block_4/8.png")
            img.grid_4_img-8(src="images/content/block_4/8_icon.png")
        a.colorbox(href="images/content/block_4/9.png")
            img.grid_4_img-9(src="images/content/block_4/9_icon.png")
        a.colorbox(href="images/content/block_4/10.png")
            img.grid_4_img-10(src="images/content/block_4/10_icon.png")
        #block_4_border_2.block_4_border_2
        a.colorbox(href="images/content/block_4/11.png")
            img.grid_4_img-11(src="images/content/block_4/11_icon.png")
