.full-width
    #giant_fish_1_wrapper.giant_fish_1_wrapper
        #giant_fish_1_wrapper-viewport.fish-viewport
            img#giant_fish_1.fishes(src="images/content/giant/giant_fish_1.png")
    #giant_fish_block_1.giant_fish_block_1
