//- .full-width
//-     #giant_fish_1_wrapper.giant_fish_1_wrapper
//-         #giant_fish_1_wrapper-viewport.fish-viewport
//-             img#giant_fish_1.fishes(src="images/content/giant/giant_fish_1.png")
//-     #giant_fish_block_1.giant_fish_block_1
div(style="position: relative; height: 758px; margin-bottom: 60px;")
  .test
  div(style="position: relative; overflow: hidden; display: block; z-index: 5; height: 850px; top: -10px;")
    div(style="width: 120%; height: 160px; z-index: 3; position: absolute; transform: rotate(4.5deg); background-image: url(images/main-bg.png); top: -10%; left: -1px")
    div(style="position: fixed; top: calc(50% - 320px); z-index: 1; left: 0; background-image: url(images/content/giant/giant_fish_1_2.png); background-size: contain; background-repeat: no-repeat; background-position: 50%; width: 100%; height: 625px;")
    div(style="width: 101%; height: 110px; z-index: 3; position: absolute; transform: rotate(-3deg); background-image: url(images/main-bg.png); bottom: -40px;")
    div(style="background-image: url(images/giant_bg.png); width: 100%; height: 100%; position: relative;")
  .test2(style="z-index: 5;")
