//- .full-width
//-     #giant_fish_block_2.giant_fish_block_2
//-     #giant_fish_2_wrapper.giant_fish_2_wrapper
//-         #giant_fish_2_wrapper-viewport.fish-viewport
//-             img#giant_fish_2.fishes(src="images/content/giant/giant_fish_2.png")
div(style="position: relative; height: 758px; margin-bottom: 60px;")
  .test.test__reverse
  div(style="position: relative; overflow: hidden; display: block; z-index: 5; height: 850px; top: -10px;")
    div(style="width: 120%; height: 160px; z-index: 3; position: absolute; transform: rotate(-4.5deg); background-image: url(images/main-bg.png); top: -109px; left: -10px")
    div(style="position: fixed; top: calc(50% - 315px); z-index: 1; left: 0; background-image: url(images/content/giant/giant_fish_2.png); background-size: contain; background-repeat: no-repeat; background-position: 50%; width: 100%; height: 625px;")
    div(style="width: 101%; height: 110px; z-index: 3; position: absolute; left: -1%; transform: rotate(3deg); background-image: url(images/main-bg.png); bottom: -40px;")
    div(style="background-image: url(images/giant_bg.png); width: 100%; height: 100%; position: relative;")
  .test2.test2__reverse(style="z-index: 5;")
