.full-width
    #giant_fish_block_2.giant_fish_block_2
    #giant_fish_2_wrapper.giant_fish_2_wrapper
        #giant_fish_2_wrapper-viewport.fish-viewport
            img#giant_fish_2.fishes(src="images/content/giant/giant_fish_2.png")
