//- .full-width
//-     #giant_fish_1_wrapper.giant_fish_1_wrapper
//-         #giant_fish_1_wrapper-viewport.fish-viewport
//-             img#giant_fish_1.fishes(src="images/content/giant/giant_fish_1.png")
//-     #giant_fish_block_1.giant_fish_block_1

div(style="position: relative; height: 625px; margin-bottom: 42px; margin-top: 80px;")
  .test
  div(style="position: relative; overflow: hidden; display: block; z-index: 5; height: 630px; top: -23px; --clip-path: polygon(0% 0%, 100% 15%, 100% 93%, 0% 100%);")
    div(style="position: fixed; top: calc(50% - 210px); z-index: 1; left: 0; background-image: url(images/content/giant/giant_fish_1_2.png); background-size: contain; background-repeat: no-repeat; background-position: 50%; width: 100%; height: 455px;")
    div(style="background-image: url(images/giant_bg.png); width: 100%; height: 100%; position: relative;")
  .test2(style="z-index: 5;")
