.full-width
    #giant_fish_3_wrapper.giant_fish_3_wrapper
        #giant_fish_3_wrapper-viewport.fish-viewport
            img#giant_fish_3.fishes(src="images/content/giant/giant_fish_3.png")
    #giant_fish_block_3.giant_fish_block_3
