.fixed-items
    .hamburger
        span.top
        span.middle
        span.bottom
    img(src="../images/logo_circle_copy.png" alt="logi" title="Pencil BOOM")
header
    .static-items
        nav
            ul
                li exibitiobs
                li gifts
        ul
            li eng
            li rus
            li ukr
