.fixed-items
    .hamburger
        span.top
        span.middle
        span.bottom
    img(src="../frontend/images/logo.png" alt="pencilboom" title="Pencil BOOM")
header
    .static-items
        .name
            img(src="../frontend/images/name.png" alt="pencilboom" title="Pencil BOOM")
        nav
            ul
                li.exhibitions
                    a(href="exhibitions.html") выставки
                li.gifts
                    a(href="contests.html")
                        span.small к
                        sapn.large призам
        ul.languages
            li.active укр
            li рус
