.fixed-items
    .hamburger
        span.top
        span.middle
        span.bottom
    img(src="../frontend/images/logo.png" alt="logi" title="Pencil BOOM")
header
    .static-items
        h1
            span.pencil Pencil
            span.boom BOOM
        nav
            ul
                li.exhibitions выставки
                li.gifts призы
        ul.languages
            li.active укр
            li рус
