.fixed-items
    .hamburger-wrapper
        .hamburger
            span.top
            span.middle
            span.middle2
            span.bottom
    img(src="../frontend/images/logo.png" alt="pencilboom" title="Pencil BOOM")
    nav
        ul
            li
                a(href="#!") генеариум
            li
                a(href="#!") конкурсы
            li
                a(href="#!") выставки
        ul
            li
                a(href="#!") конкурс месяца
            li
                a(href="#!") создать выставку
            li
                a(href="#!") выставки, ТОП-20
            li
                a(href="#!") полезная реклама
        ul
            li
                a(href="#!") моя мастерская
        ul
            li
                a(href="#!") соглашение
            li
                a(href="#!") о нас
            li
                a(href="#!") помощь
            li
                a(href="#!") отзывы
            li
                a(href="#!") выйти
header
    .static-items
        .name
            a(href="/")
                img(src="../frontend/images/name.png" alt="pencilboom" title="Pencil BOOM")
        ul.top-nav
            li.exhibitions
                a(href="exhibitions.html") выставки
            li.gifts
                a(href="contests.html")
                    span.small к
                    sapn.large призам
        ul.languages
            li.active укр
            li рус
