doctype html
html
  head
    block title
      title Default title
    link(href='css/grabber.css' rel="stylesheet" type="text/css")
  body
    include pages/parts/header.pug
    block content
    include pages/parts/footer.pug
    script(src="js/vendor.min.js")
    script(src="js/all.min.js")
