filter-bg(color)
    padding 2px 0 8px 23px
    display inline-block
    width 209px
    border 1px solid $filter-border
    border-right none
    border-top-left-radius 3px
    border-bottom-left-radius 3px
    font-size 21px
    color white
    text-shadow 4px 4px 6px black
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff75f5+82,ffffff+82,ffffff+84,ff75f5+84,ff75f5+85,ff75f5+88,ffffff+88 */
    /* Old browsers */
    background #ff75f5
    /* FF3.6-15 */
    background -moz-linear-gradient(-45deg, color 84%, #ffffff 84%, #ffffff 85.5%, color 85.5%, color 85.5%, color 89.5%, #ffffff 89.5%)
    /* Chrome10-25,Safari5.1-6 */
    background -webkit-linear-gradient(-45deg,  color 84%, #ffffff 84%, #ffffff 85.5%, color 85.5%, color 85.5%, color 89.5%, #ffffff 89.5%)
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background linear-gradient(125deg, color 84%, #ffffff 84%, #ffffff 85.5%, color 85.5%, color 85.5%, color 89.5%, #ffffff 89.5%)
    /* IE6-9 fallback on horizontal gradient */
    filter unquote('progid:DXImageTransform.Microsoft.gradient( startColorstr="#ff75f5", endColorstr="#ffffff",GradientType=1 )')
$filter
    width 0
    height 0
    position relative
    top calc(50% - 3px)
    transition all .3s
select-triangle-closed(color)
    @extend $filter
    border-left 7px solid transparent
    border-right 6px solid transparent
    border-top 11px solid color
select-triangle-open(color)
    transform rotate(180deg)
.filters
    margin-bottom 50px
    h1
        margin 0
        margin-bottom 12px
        font-family 'brasileiro_onemedium'
        font-size 60px
        font-weight 100
        color $filter-h1-color
        letter-spacing 6px
        text-shadow 0 0 5px black
        letter-spacing 4.5px
.filter-wrapper
    width calc(50% - 50px)
    float left
.filter-wrapper+.width50
    float right
    text-align right
.filter
    margin-left 44px
    margin-top 22px
    height 41px
    box-shadow 3px 3px 6px black
    display inline-block
    min-width 414px
    border-radius 3px
    position relative
    float left
    &:first-child
        margin-top 0

.fish-viewport
    padding-left 30px
    position absolute
    right 0
    top 0
    box-sizing border-box
    overflow hidden
    &#fish_block_1_2-viewport
        padding-left 296px
        img
            z-index 2
.fishnet
    display block
    width 85%
    height 85%
    position absolute
    z-index -1
    top 5%
    left 5%
    background-color white
    background-image url(../images/fishnet.png)
    background-position 50%

.filter-genre
    filter-bg($filter-genre-bg)
#filter-genre + .chosen-container-single .chosen-single span
    color $filter-genre-text-color
#filter-genre + .chosen-container .chosen-single div b
    select-triangle-closed($filter-genre-drop)
#filter-genre + .chosen-container.chosen-container-active .chosen-single div b
    select-triangle-open($filter-genre-drop)
#filter-genre + .chosen-container .chosen-drop .chosen-results li
    color $filter-genre-drop-text-color

.filter-age
    filter-bg($filter-age-bg)
#filter-age + .chosen-container-single .chosen-single span
    color $filter-age-text-color
#filter-age + .chosen-container .chosen-single div b
    select-triangle-closed($filter-age-drop)
#filter-age + .chosen-container.chosen-container-active .chosen-single div b
    select-triangle-open($filter-age-drop)
#filter-age + .chosen-container .chosen-drop .chosen-results li
    color $filter-age-drop

.filter-theme-search
    filter-bg($filter-theme-search-bg)
    float left
    position relative
.filter-theme-search + input
    padding 0
    padding-right 38px
    width 142px
    height 40px
    display inline-block
    border 1px solid #262626
    border-left 0 none
    color $filter-theme-search-text-color
    font-size 21px
    font-family 'Arial Black'
    float left
    border-top-right-radius 3px
    border-bottom-right-radius 3px
    outline none
.filter-theme-search + input + span
    display block
    width 26px
    height 26px
    position absolute
    top 8px
    right 8px
    background-image url(chosen-sprite@2x.png)
    background-position 36px 26px

.filter-gifts
    filter-bg($filter-gifts-bg)
#filter-gifts + .chosen-container-single .chosen-single span
    color $filter-gifts-text-color
#filter-gifts + .chosen-container .chosen-single div b
    select-triangle-closed($filter-gifts-drop)
#filter-gifts + .chosen-container.chosen-container-active .chosen-single div b
    select-triangle-open($filter-gifts-drop)
#filter-gifts + .chosen-container .chosen-drop .chosen-results li
    color $filter-gifts-drop

/* chosen revrite */
.chosen-container
    width 173px !important
    border 1px solid $filter-border
    border-left 0 none
    border-top-right-radius 3px
    border-bottom-right-radius 3px
    padding 9px 7px 6px 0
    top -1px
    background-color white
    &.chosen-container-active
        border-bottom-right-radius 0
        .chosen-drop
            width 203px
            left -21px
            border 1px solid black
            border-top 0 none
.chosen-container .chosen-drop
    border 0 none
.chosen-container .chosen-drop .chosen-results
    margin 0
    padding 0
    max-height none
.chosen-container .chosen-drop .chosen-results li
    border-top 1px solid $filter-genre-item-border
    height 41px
    line-height 30px
.chosen-container-single .chosen-single
    padding 0
    border 0 none
    background transparent
    box-shadow none
    top -3px
.chosen-container-single .chosen-single span
    font-size 20px
.chosen-container-active.chosen-with-drop .chosen-single
    border 0 none
    background transparent
    box-shadow none
.chosen-container-single .chosen-drop
    margin-top 0

$animationStep = 1.5%
$active = 1%
$back = 6%
$active2 = 51%
$back2 = 56%
$animationStateDefault = translate(0, 0)
$animationStateActive = translate(0, -15px)
for i in 1..10
    @keyframes jumpingHeader{i}
        0%
            transform $animationStateDefault
        {$active}
            transform $animationStateActive
        {$back}
            transform $animationStateDefault
        50%
            transform $animationStateDefault
        {$active2}
            transform $animationStateActive
        {$back2}
            transform $animationStateDefault
        100%
            $animationStateDefault
    $active = $active + $animationStep
    $back = $back + $animationStep
    $active2 = $active2 + $animationStep
    $back2 = $back2 + $animationStep
    .header{i}
        display inline-block
        animation-timing-function ease-in-out
        animation-duration 4s
        animation-iteration-count infinite
        animation-name jumpingHeader + i
