.fish_block_1_2_wrapper
  position absolute
  overflow hidden
  height 92px
  .fishes
    right -100%
    height 92px

.fishes
  position relative

.fish_1_wrapper
    position absolute
    overflow hidden
    z-index -1
    height 231px
.fish_1
    position relative
    right -100%

.border_1-wrapper
  display inline-block
  position relative

.border_1
    position relative
    z-index 3

.giant_fish_block_1
.giant_fish_block_2
.giant_fish_block_3
    width 100%
    height 491px
    background-repeat no-repeat
    background-size 100% 491px
    background-image url(../images/giant_block_1.png)
.giant_fish_block_2
    transform scaleX(-1)

.giant_fish_1_wrapper
    .fish-viewport
        top 180px
        right calc(50% - 279px)
.giant_fish_2_wrapper
    .fish-viewport
        top 180px
        right calc(50% - 407px)
.giant_fish_3_wrapper
    .fish-viewport
        top 150px
        right calc(50% - 294px)