.footer-wrapper
    margin-top 125px
    padding 1px 0 0
    height 275px
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+17,0e0317+33,1f0733+47,54148a+83,6b19ae+100 */
    background #000000; /* Old browsers */
    background -moz-linear-gradient(-45deg,  #000000 0%, #000000 17%, #0e0317 33%, #1f0733 47%, #54148a 83%, #6b19ae 100%) /* FF3.6-15 */
    background -webkit-linear-gradient(-45deg,  #000000 0%,#000000 17%,#0e0317 33%,#1f0733 47%,#54148a 83%,#6b19ae 100%) /* Chrome10-25,Safari5.1-6 */
    background linear-gradient(135deg,  #000000 0%,#000000 17%,#0e0317 33%,#1f0733 47%,#54148a 83%,#6b19ae 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#6b19ae',GradientType=1 )") /* IE6-9 fallback on horizontal gradient */
.footer
    margin 21px auto 0
    width 1160px
    .left
    .middle
        float left
    .left
        width 179px
        text-align center
        li
            float left
            margin-left 13px
            transition .3s all
            &:hover
                transform rotate(25deg)
            &:first-child
                margin-left 0
            img
                display block
        p
            margin 4px 0 12px 0
            font-family Arial, Helvetica, sans-serif
            font-size 16.5px
            color white
        .footer-logo
            animation preloader 6s infinite linear
    .middle
        margin-top 35px
        padding-left 90px
        text-align center
        h1
            margin -5px 0 27px 0
            font-family champagne__limousinesregular
            font-size 4.5vw
            font-weight 100
            text-shadow 5px 4px 8px black
            color white
        input
            width 181px
            vertical-align top
            border 0 none
            margin-left 2px
            padding-left 13px
            height 31px
            background-color $footer-subscribe-input-bg
            font-family 'Arial Black'
            font-size 20px
            line-height 33px
            color white
        input::-webkit-input-placeholder
            color white
        input::-moz-placeholder
            color white
        input::-moz-placeholder
            color white
        input::-ms-input-placeholder
            color white
        .button
            width 192px
            display inline-block
            padding-top 0
            height 33px
            vertical-align top
            background-color $footer-subscribe-button-bg
            font-family 'Arial Black'
            font-size 20px
            text-shadow 5px 4px 8px black
            color white
            cursor pointer
    .right
        margin 20px 15px 0 0
        float right
        li
            margin-top 9px
            &:first-child
                margin-top 0
        a
            font-family champagne__limousinesregular
            font-size 20px
            font-weight 100
            text-shadow 5px 4px 8px black
            color white
            text-decoration none
            &:hover
                text-decoration underline