// #gallery img#fish_1_1
// #gallery img#fish_1
//   top 30px
//   left -240px
//   z-index 2
//   width 205px
//   height 109px

// #gallery img#fish_2_2
// #gallery img#fish_2
//   top 405px
//   left 100%
//   z-index 2
//   width 205px
//   height 109px

// #gallery img#fish_3_3
// #gallery img#fish_3
//   top 180px
//   left 100%
//   z-index 2
//   width 205px
//   height 109px

// #gallery img#fish_4_4
// #gallery img#fish_4
//   top 340px
//   left -240px
//   z-index 2

// #gallery img#fish_5_5
// #gallery img#fish_5
//   bottom 130px
//   left 100%
//   z-index 2
//   width 200px

// #gallery img#fish_6_6
// #gallery img#fish_6
//   top 135px
//   left 100%
//   z-index 2
//   width 200px

// #gallery img#fish_7_7
// #gallery img#fish_7
//   top 310px
//   left -240px
//   z-index 2
//   width 200px

// #gallery img#fish_8_8
// #gallery img#fish_8
//   bottom 190px
//   left 100%
//   z-index 2
//   width 200px

// #gallery img#fish_9_9
// #gallery img#fish_9
//   top 140px
//   left 100%
//   z-index 2
//   width 200px

// #gallery img#fish_10_10
// #gallery img#fish_10
//   top 310px
//   left -240px
//   z-index 2
//   width 200px

.fish_block_1_2_wrapper
  position absolute
  overflow hidden
  height 92px
  .fishes
    right -100%
    height 92px

.fishes
  position relative

.block_1_border_2
  position absolute
  top 309px
  left 621px
  width 178px
  height 91px

.gallery-block img
  position absolute
  box-shadow 5px 8px 15px 0 #000000
  cursor pointer

#block_1
  height 560px
  margin-bottom 100px
#block_2
  height 895px
  margin-bottom 150px
#block_3
  height 880px
  margin-bottom 150px
#block_4
  height 560px
  margin-bottom 150px
#block_5
  height 560px
  margin-bottom 150px

+prefix-classes('grid_1_img')
  .-1
    top 285px
    left 0
    z-index 1
  .-2
    top 285px
    left 370px
  .-3
    left 370px
    bottom 20px
  .-4
    top 285px
    left 520px
    border-radius 50px
  .-5
    top 447px
    right 161px
  .-6
    top 285px
    right 0
    z-index 3
  .-7
    top 0
    left 0
  .-8
    top 172px
    left 330px
    border-radius 55px
  .-9
    top 0
    left 330px
  .-10
    top 0
    right 0
    z-index 1
  .-11
    top 176px
    left 445px
  .-12
    top 0
    left 507px
  .-13
    top 175px
    left 120px
  .-14
    top 116px
    left 0

+prefix-classes('grid_2_img')
  .-1
    top 10px
    left 0
    z-index 1
  .-2
    top 10px
    left 410px
  img
    &.-2
      box-shadow none
  .-3
    top 10px
    left 620px
  .-4
    top 10px
    right 0
  .-5
    top 170px
    left 410px
  .-6
    top 135px
    right -20px
  img
    &.-6
      box-shadow none
  .-7
    top 325px
    left 0
  img
    &.-7
      box-shadow none
  .-8
    top 325px
    left 410px
  .-9
    top 325px
    right 0
    z-index 1
  .-10
    top 500px
    left 170px
  img
    &.-10
      box-shadow none
  .-11
    top 630px
    left 0
  .-12
    top 630px
    left 0
    z-index 1
  .-13
    top 630px
    left 235px
    border-radius 50px
  .-14
    top 630px
    left 340px
  .-15
    top 790px
    left 450px
  .-16
    top 790px
    left 635px
  .-17
    top 630px
    right 0
  .-18
    top 780px
    right 0
  .-19
    top 630px
    left 450px
  .-20
    top 740px
    left 240px

#gallery #grid_img-35
  top 10px
  right 0

#gallery #grid_img-36
  top 110px
  right 0
  border-radius 50px/70px

#gallery #grid_img-37
  top 10px
  left 645px

#gallery #grid_img-38
  top 10px
  left 430px

#gallery #grid_img-39
  top 10px
  left 195px
  border-radius 110px

#gallery #grid_img-40
  top 10px
  left 0
  z-index 1

#gallery #grid_img-41
  top 10px
  left 0
  z-index 1

#gallery #grid_img-42
  top 10px
  left 465px

#gallery #grid_img-43
  top 10px
  left 630px
  box-shadow none

#gallery #grid_img-44
  top 10px
  right 0

#gallery #grid_img-45
  top 125px
  left 465px

#gallery #grid_img-46
  top 165px
  right -15px
  box-shadow none

#gallery #grid_img-47
  top 290px
  left 0

#gallery #grid_img-48
  top 280px
  left 330px
  border-radius 50px

#gallery #grid_img-49
  top 280px
  left 450px

#gallery #grid_img-50
  top 280px
  right 0
  z-index 1

#gallery #grid_img-51
  top 453px
  right 250px

#gallery #grid_img-52
  top 453px
  left 450px

#gallery #grid_img-53
  top 400px
  left 330px

#gallery #grid_img-54
  top 453px
  left 220px

#gallery #grid_img-55
  top 453px
  left 120px

#gallery #grid_img-56
  top 390px
  left 0

#gallery #grid_img-57
  top 555px
  left -10px
  z-index 1
  border-radius 85px/120px

#gallery #grid_img-58
  top 560px
  left 200px
  box-shadow none

#gallery #grid_img-59
  top 715px
  left 415px

#gallery #grid_img-60
  top 715px
  left 530px

#gallery #grid_img-61
  top 715px
  right 160px

#gallery #grid_img-62
  top 560px
  right 0
  border-radius 72px

#gallery #grid_img-63
  top 560px
  left 410px

#gallery #grid_img-64
  top 720px
  right 0

#gallery #grid_img-65
  top 275px
  left 0

#gallery #grid_img-66
  bottom 20px
  left 0

#gallery #grid_img-67
  bottom 20px
  left 120px

#gallery #grid_img-68
  bottom 30px
  left 320px
  border-radius 105px/130px

#gallery #grid_img-69
  bottom 20px
  right 0
  z-index 1

#gallery #grid_img-70
  bottom 20px
  left 220px
