$color1  = #db0022
$color2  = #430062
$color3  = #e500ff

$header-bg = $color1
$static-items-h1-after = $color2
$header-arrow-angle-right = $color2
$hamburger-border = $color1
$nav-bg = $color2
$nav-before-bg = $color2
$nav-after-bg = $color2
$exhibitions-before-bg = $color2
$pencil = $color3
$boom = $color1
$gifts-bg = $color1
$gifts-before = $color2
$gifts-before-bg = $color1
$languages-bg = $color2
$languages-before-bg = $color1
$languages-after-bg = $color1
$languages-active = $color1

body
ul
    margin 0

body
    font-family "Arial Black", Gadget, sans-serif

ul
    padding 0
    li
        list-style none

// .content
//     background-image url(../images/main-bg.png)