$color1  = #db0022
$color2  = #430062
$color3  = #e500ff
$color4  = #dcabf1
$color5  = #e500ff
$color6  = #7d1dcc
$color7  = #262626
$color8  = #acacac
$color9  = #cebdd6

$fixed-items-bg = $color1
$static-items-h1-after = $color2
$hamburger-hover-bg = $color1
$header-arrow-angle-right = $color2
$nav-bg = $color2
$nav-bg-color = $color2
$nav-before-bg = $color2
$nav-after-bg = $color2
$nav-link-text = $color4
$nav-separator-border = $color4
$exhibitions-before-bg = $color2
$exhibitions-text-hover = $color2
$pencil = $color3
$boom = $color1
$gifts-bg = $color1
$gifts-before = $color2
$gifts-before-bg = $color1
$gifts-text-hover = $color1
$languages-bg = $color2
$languages-before-bg = $color1
$languages-after-bg = $color2
$languages-active = $color1
$filter-genre-bg = $color5
$filter-genre-text-color = $color5
$filter-genre-drop = $color5
$filter-genre-drop-text-color = $color5
$filter-genre-item-border = $color9
$filter-age-bg = $color6
$filter-age-text-color = $color6
$filter-age-drop = $color6
$filter-theme-search-bg = $color2
$filter-theme-search-text-color = $color8
$filter-gifts-bg = $color1
$filter-gifts-text-color = $color1
$filter-gifts-drop = $color1
$filter-border = $color7

body
ul
    margin 0

body
    font-family "Arial Black", Gadget, sans-serif
    background-image url(../images/main-bg.png)

ul
    padding 0
    li
        list-style none

.clearfix
    &:after
        content ''
        display table
        clear both

.content-block
    width 1010px
    margin 0 auto
    >h1
        margin 0
        margin-bottom 50px

.width50
    width 50%
    float left

// .content
//     background-image url(../images/main-bg.png)