$color1  = #db0022
$color2  = #430062
$color3  = #e500ff
$color4  = #dcabf1
$color5  = #e500ff
$color6  = #7d1dcc
$color7  = #262626
$color8  = #acacac
$color9  = #cebdd6
$color10 = #8200be
$color11 = #fffc00
$color12 = #b6b5b5

$fixed-items-bg = $color1
$static-items-h1-after = $color2
$hamburger-hover-bg = $color1
$header-arrow-angle-right = $color2
$nav-bg = $color2
$nav-bg-color = $color2
$nav-before-bg = $color2
$nav-after-bg = $color2
$nav-link-text = $color4
$nav-separator-border = $color4
$nav-hover-text-bg = $color10
$nav-hover-text-color = $color11
$nav-bg-when-open = $color1
$exhibitions-before-bg = $color2
$exhibitions-text-hover = $color2
$pencil = $color3
$boom = $color1
$gifts-bg = $color1
$gifts-before = $color2
$gifts-before-bg = $color1
$gifts-text-hover = $color1
$languages-bg = $color2
$languages-before-bg = $color1
$languages-after-bg = $color2
$languages-active = $color1
$filter-h1-color = $color2
$filter-genre-bg = $color5
$filter-genre-text-color = $color5
$filter-genre-drop = $color5
$filter-genre-drop-text-color = $color5
$filter-genre-item-border = $color9
$filter-age-bg = $color6
$filter-age-text-color = $color6
$filter-age-drop = $color6
$filter-theme-search-bg = $color2
$filter-theme-search-text-color = $color8
$filter-gifts-bg = $color1
$filter-gifts-text-color = $color1
$filter-gifts-drop = $color1
$filter-border = $color7
$footer-subscribe-input-bg = $color12
$footer-subscribe-button-bg = $color1

@font-face
    font-family 'brasileiro_onemedium'
    src url('../fonts/brasileiro_onemedium/brasileiro_onemedium.eot')
    src url('../fonts/brasileiro_onemedium/brasileiro_onemedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/brasileiro_onemedium/brasileiro_onemedium.woff2') format('woff2'),
        url('../fonts/brasileiro_onemedium/brasileiro_onemedium.woff') format('woff'),
        url('../fonts/brasileiro_onemedium/brasileiro_onemedium.ttf') format('truetype'),
        url('../fonts/brasileiro_onemedium/brasileiro_onemedium.svg#brasileiro_onemedium') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'champagne__limousinesregular'
    src url('../fonts/champagne__limousines/champagne__limousines.eot')
    src url('../fonts/champagne__limousines/champagne__limousines.eot?#iefix') format('embedded-opentype'),
         url('../fonts/champagne__limousines/champagne__limousines.woff2') format('woff2'),
         url('../fonts/champagne__limousines/champagne__limousines.woff') format('woff'),
         url('../fonts/champagne__limousines/champagne__limousines.ttf') format('truetype'),
         url('../fonts/champagne__limousines/champagne__limousines.svg#champagne__limousinesregular') format('svg')
    font-weight normal
    font-style normal

body
ul
    margin 0

body
    font-family "Arial Black", Gadget, sans-serif
    background-image url(../images/main-bg.png)

ul
    padding 0
    li
        list-style none

.clearfix
    &:after
        content ''
        display table
        clear both

.full-width
    position relative

.filter-block
    width 1010px
    margin 0 auto

.gallery-block
    width 950px
    margin 0 auto
    position relative

.width50
    width 50%

.test
    background-image: url(../images/giant-border.png);
    height: 100px;
    background-repeat: no-repeat;
    position: absolute;
    top: 23px;
    left -1%
    width: 101%;
    transform: rotate(3deg);
    z-index 4
.test2
    background-image: url(../images/giant-border.png);
    height: 100px;
    background-repeat: no-repeat;
    position: absolute;
    top: 80%;
    left -1%
    width: 101%;
    transform: rotate(-3deg);
    z-index 4