@keyframes preloader {
    to {
        transform: rotate(360deg)
    }
}

$headerHeight = 106px

$verticalAlign
    display table-cell
    vertical-align middle
$verticalAlignHeight
    @extend $verticalAlign
    height $headerHeight
$angleArrows
    width 0
    height 0
    content ''
    position absolute
$angleArrowLarge
    border-top 59px solid transparent
    border-bottom 59px solid transparent    
angleArrowLeftLarge(color)
    @extend $angleArrowLarge
    border-left 52px solid color
$angleArrowSmall
    border-top 53px solid transparent
    border-bottom 53px solid transparent
angleArrowLeftSmall(color)
    @extend $angleArrowSmall
    border-left 46px solid color

.fixed-items
    position fixed
    height $headerHeight
    z-index 2
    img
        animation preloader 6s infinite linear
        height 96%
        position relative
        float left
        border-radius 999px
        top 2%
        left 2%

header
    padding-left 65px
    height $headerHeight
    background-color $header-bg
    color white

.hamburger
    margin-right 9px
    padding-left 8px
    width 48px
    line-height 17px
    position relative
    top 26px
    float left
    span
        width 100%
        height 7px
        display inline-block
        margin 0 auto
        opacity 1
        border-radius 7px
        position relative
        top 0
        border 1px solid $hamburger-border
        &.top
        &.middle
        &.bottom
            background-color white

.static-items
    background-color white
    height $header-bg
    position relative
    overflow hidden
    padding-left 131px
    border-top-left-radius 50px
    border-bottom-left-radius 50px
    h1
        @extend $verticalAlignHeight
        margin 0
        position relative
        padding-right 108px
        &:before
            @extend $angleArrows
            angleArrowLeftSmall(white)
            z-index 3
            top 0
            right 6px
        &:after
            @extend $angleArrows
            angleArrowLeftLarge($static-items-h1-after)
            z-index 2
            top -6px
            right 0

.pencil
    color $pencil
.boom
    color $boom
    position relative
    z-index 1

nav
    @extend $verticalAlign
    background-color $nav-bg
    position relative
    padding-left 6px
    &:before
        @extend $angleArrows
        angleArrowLeftLarge(white)
        z-index 1
        top -6px
        left -46px
        background-color $nav-before-bg
    &:after
        @extend $angleArrows
        @extend $angleArrowSmall
        border-right 46px solid $nav-after-bg
        z-index 2
        top 0
        right -52px
    ul
        li
            display inline-block

.exhibitions
.gifts
    @extend $verticalAlignHeight
.exhibitions
    padding 0 12px 0 30px
    position relative
    font-size 25px
    &:before
        @extend $angleArrows
        angleArrowLeftSmall($exhibitions-before-bg)
        z-index 3
        top 0
        right -46px
    &:after
        @extend $angleArrows
        angleArrowLeftLarge(white)
        z-index 2
        top -6px
        right -52px
.gifts
    padding 0 50px 0 100px
    position relative
    background-color $gifts-bg
    text-transform uppercase
    font-size 40px
    &:before
        @extend $angleArrows
        angleArrowLeftLarge($gifts-before)
        top -6px
        left 6px
        background-color $gifts-before-bg

.languages
    @extend $verticalAlignHeight
    position relative
    padding 0 13px 0 162px
    background-color $languages-bg
    font-size 20px
    &:before
        @extend $angleArrows
        @extend $angleArrowLarge
        border-right 52px solid white
        top -6px
        left -6px
        background-color $languages-before-bg
    &:after
        @extend $angleArrows
        @extend $angleArrowLarge
        border-right 52px solid $languages-after-bg
        top -6px
        left 0
    li
        display inline-block
        font-weight bold
        &:first-child
            margin-left 0
        margin-left 7px
        &.active
            color $languages-active
