@keyframes preloader {
    to {
        transform: rotate(360deg)
    }
}

$headerHeight = 106px

$verticalAlign
    display table-cell
    vertical-align middle
$verticalAlignHeight
    @extend $verticalAlign
    height $headerHeight
$angleArrows
    width 0
    height 0
    content ''
    position absolute
$angleArrowLarge
    border-top 65px solid transparent
    border-bottom 65px solid transparent
angleArrowLeftLarge(color)
    @extend $angleArrowLarge
    border-left 45px solid color
$angleArrowSmall
    border-top 53px solid transparent
    border-bottom 53px solid transparent
angleArrowLeftSmall(color)
    @extend $angleArrowSmall
    border-left 37px solid color

.fixed-items
    position fixed
    height $headerHeight
    z-index 2
    background-color $fixed-items-bg
    width 120px
    transition all .3s
    box-shadow 0 0 15px black
    img
        animation preloader 6s infinite linear
        height 100%
        position absolute
        float left
        border-radius 999px
        left 70px
    &.m-hamberger-hover
        background-color white
        .hamburger
            span
                background-color red

header
    padding-left 69px
    height $headerHeight
    color white
    box-shadow 0 0 15px black

.hamburger
    margin-right 9px
    padding-left 8px
    width 48px
    line-height 17px
    position relative
    top 26px
    float left
    span
        width 100%
        height 11px
        display inline-block
        margin 0 auto
        opacity 1
        border-radius 7px
        position relative
        transition all .3s
        &.top
        &.middle
        &.bottom
            background-color white
        &.top
            top -5px
            left 2px
        &.middle
            top 0
            left 2px
        &.bottom
            top 5px
            left 2px

.static-items
    background-color white
    height $headerHeight
    position relative
    overflow hidden
    padding-left 135px
    border-top-left-radius 50px
    border-bottom-left-radius 50px
    .name
        @extend $verticalAlignHeight
        margin 0
        position relative
        padding-right 95px
        &:before
            @extend $angleArrows
            angleArrowLeftSmall(white)
            z-index 3
            top 0
            right 7px
        &:after
            @extend $angleArrows
            angleArrowLeftLarge($static-items-h1-after)
            z-index 2
            top -12px
            right -2px
        img
            position relative
            top 5px
            left 3px
    &.m-gifts-hover
        .gifts
            background-color white
            a
                color $gifts-text-hover
                .small
                .large
                    text-shadow none
            &:before
                background-color white
        .languages
            &:after
                background-color white

.pencil
    color $pencil
.boom
    color $boom
    position relative
    z-index 1

nav
    @extend $verticalAlign
    background-color $nav-bg
    position relative
    padding-left 6px
    transition all .3s
    &:before
        @extend $angleArrows
        angleArrowLeftLarge(white)
        z-index 1
        top -12px
        left -39px
        background-color $nav-before-bg
        transition all .3s
    &:after
        @extend $angleArrows
        border-top 68px solid transparent
        border-bottom 68px solid transparent
        border-right 48px solid $nav-after-bg
        z-index 3
        top -15px
        right -40px
    ul
        li
            display inline-block
    &.m-exebitions-hover
        background-color white
        &:before
            background-color white
        .exhibitions
            &:before
                border-left-color white
            a
                color $exhibitions-text-hover
                text-shadow none

.exhibitions
.gifts
    @extend $verticalAlignHeight
.exhibitions
    padding 0 17px 0 40px
    position relative
    top -2px
    font-size 22.5px
    white-space nowrap
    letter-spacing 6.7px
    &:before
        @extend $angleArrows
        angleArrowLeftSmall($exhibitions-before-bg)
        border-left 40px solid $exhibitions-before-bg
        border-top 57px solid transparent
        border-bottom 57px solid transparent
        z-index 3
        top -3px
        right -13px
        transition all .3s
    &:after
        @extend $angleArrows
        angleArrowLeftLarge(white)
        z-index 2
        top -10px
        right -18px
    a
        position relative
        z-index 3
        text-shadow 3px 3px 4px black
        text-decoration none
        color white
        display block
        line-height 106px
        transition all .3s
        &:hover
            text-decoration none
.gifts
    padding 0 50px 0 70px
    position relative
    background-color $gifts-bg
    text-transform uppercase
    font-size 40px
    transition all .3s
    &:before
        @extend $angleArrows
        angleArrowLeftLarge($gifts-before)
        top -13px
        left -19px
        background-color $gifts-before-bg
        transition all .3s
    a
        color white
        text-decoration none
        transition all .3s
        &:hover
            text-decoration none
    .small
    .large
        text-shadow 4px 3px 5px black
    .small
        position relative
        left -13px
        font-size 23px
        line-height 63px
    .large
        position relative
        top 5px

.languages
    @extend $verticalAlignHeight
    position relative
    padding 0 0 0 40px
    background-color $languages-bg
    font-size 20px
    width 100%
    &:before
        @extend $angleArrows
        @extend $angleArrowLarge
        border-right 45px solid white
        border-top 65px solid transparent
        border-bottom 65px solid transparent
        top -12px
        left -12px
        z-index 2
    &:after
        @extend $angleArrows
        @extend $angleArrowLarge
        border-right 47px solid $languages-after-bg
        top -12px
        left -22px
        background-color $languages-before-bg
        transition all .3s
    li
        display inline-block
        font-weight bold
        text-shadow 4px 3px 5px black
        &:first-child
            margin-left 0
        margin-left 7px
        &.active
            color $languages-active
