extends ../layout.pug

block title
    title Home page

block content
    include parts/filter.pug
    include parts/gallery_1.pug
    include parts/giant_fish_1.pug
    include parts/gallery_2.pug
    include parts/giant_fish_2.pug
    include parts/gallery_3.pug
    include parts/giant_fish_3.pug
