extends ../layout.pug

block title
    title Home page

block content
    .content
        h1 index page
        h1 index page
        h1 index page
        h1 index page
        h1 index page
        h1 index page
        h1 index page
        h1 index page
        h1 index page
        h1 index page
        h1 index page
        h1 index page
        h1 index page
        h1 index page
        h1 index page
        h1 index page
        h1 index page
        h1 index page
        h1 index page
        h1 index page
        h1 index page
        h1 index page
